@use '../core/breakpoint.scss';
@use '../core/typography.scss';
@use '../core/color.scss';
@use '../core/spacing.scss';

// Notice
// ======
// 
// A component for displaying a notice to the user.
// 
// Markup
// ------
// 
// .notice
//   {text}
// 
// Schematic
// ---------
// 
//   ┌[notice]┈┈┈┈┈┈┈┈┈┈┈┈┐   ┌[notice]┈┈┈┈┈┈┈┈┈┈┈┈┐
//   ┊       ↕10px        ┊   ┊       ↕15px        ┊
//   ┊⇠15px⇢[ text ]⇠15px⇢┊   ┊⇠15px⇢[ text ]⇠15px⇢┊
//   ┊       ↕10px        ┊   ┊       ↕15px        ┊
//   └┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┘   └┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┘
//       small viewport           large viewport

.notice {
  border-radius: spacing.$unit;
  background-color: color.$grey_1;
  color: color.$alert;
  padding: spacing.$unit * 2 spacing.$unit * 3;
  font-weight: bold;
  @include typography.tertiary;
  @include breakpoint.from(lg) {
    padding: spacing.$unit * 3;
  }
}
